  {% if error %}
  {{ error }}
  <br />
  <br />
  {% endif %}
  {% load static %}
  <!DOCTYPE html>
  <html>
  <head>
  <title>User Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!-- Custom Theme files -->
  <link href="{% static 'reg/reg.css' %}" rel="stylesheet" type="text/css" media="all" />
  <!-- //Custom Theme files -->
  <link rel="stylesheet" href="{% static 'frontend/assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/assets/css/fontawesome-all.min.css' %}">
  <!-- web font -->
  <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
  <!-- //web font -->
  </head>
  <body style="background-image: url({% static 'frontend/assets/images/main-slider/b1.jpg' %});">
  	<!-- main -->
  	<div class="main-w3layouts wrapper">
  		<h1 class="block-title text-center">Login</h1>
  		<div class="main-agileinfo" style="background-color:rgba(0, 0, 0, 0.4)">
  			<div class="agileits-top">
  				<form action="{% url 'login' %}" method="post">
            {% csrf_token %}
  					<input class="text" type="text" name="username" placeholder="User name" required="">
            <br/>
  					<input class="text" type="password" name="password" placeholder="Password" required="">
  					<div class="wthree-text">
  						<div class="clear"> </div>
  					</div>
  					<input type="submit" value="Login">
  				</form>
  				<p>Not yet Registered? <a href="{% url 'register' %}"> Register Now!</a></p>
  			</div>
  		</div>
  	</div>
  </body>
  </html>
