{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Meta -->
  <meta name="description" content="Responsive Bootstrap4 Dashboard Template">
  <meta name="author" content="ParkerThemes">
  <link rel="shortcut icon" href="img/fav.png" />

  <!-- Title -->
  <title>Efarm</title>


  <!-- *************
  ************ Common Css Files *************
  ************ -->
  <!-- Bootstrap css -->
  <link rel="stylesheet" href="{% static 'backend/css/bootstrap.min.css' %}">

  <!-- Icomoon Font Icons css -->
  <link rel="stylesheet" href="{% static 'backend/fonts/style.css' %}">

  <!-- Main css -->
  <link rel="stylesheet" href="{% static 'backend/css/main.css' %}">


  <!-- *************
  ************ Vendor Css Files *************
  ************ -->
  <!-- DateRange css -->
  <link rel="stylesheet" href="{% static 'backend/vendor/daterange/daterange.css' %}" />

  <!-- weather app -->
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!-- //For-Mobile-Apps -->

  <!-- Index-Page-CSS -->	  <link rel="stylesheet" href="{% static 'staticweather/css/style_forecast.css' %}"		 type="text/css" media="all">
  <!-- Owl-Carousel-CSS --> <link rel="stylesheet" href="{% static 'staticweather/css/owl.carousel.css' %}" type="text/css" media="all">

  <!-- Fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" 						type="text/css" media="all">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" type="text/css" media="all">
  <!-- //Fonts -->

  <!-- Font-Awesome-File-Links -->
  <!-- CSS --> <link rel="stylesheet" href="{% static 'staticweather/css/font-awesome.css' %}" 	 	 type="text/css" media="all">
  <!-- TTF --> <link rel="stylesheet" href="{% static 'staticweather/fonts/fontawesome-webfont.ttf' %}" type="text/css" media="all">
  <!-- //Font-Awesome-File-Links -->

  <style>
  .example_e {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 70;
  padding: 20px;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  }

  .example_e:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
  }

  .example_f {
  border: none;
  background: rgba(119, 170, 197, 0.30);
  color: #ffffff !important;
  font-weight: 700 !important;
  padding: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  }

  .example_f:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
  }

  @import url('https://fonts.googleapis.com/css?family=Spartan&display=swap')

  $form-bg: #f8f4e5
  $form-border: #f45702
  $form-shadow: #dfae4b
  $form-focus: #6bd4b1
  $font-size: 12pt
  $font-face: 'Spartan'
  $font-color: #2A293E

  *
    margin: 0
    padding: 0

  body
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2044837-jpeg.jpg") center center no-repeat
    background-size: cover
    width: 100vw
    height: 100vh
    display: grid
    align-items: center
    justify-items: center
    font-size: $font-size
    font-family: $font-face
    color: $font-color

  .contact-us
    background: $form-bg
    padding: 50px 100px
    border-top: 10px solid $form-border

  label, input, textarea
    display: block
    width: 100%
    font-size: $font-size
    line-height: $font-size * 2
    font-family: $font-face

  input
    margin-bottom: $font-size * 2

  h3
    font-weight: normal
    font-size: 10pt
    line-height: $font-size * 2
    font-style: italic
    margin: 0 0 .5em 0

  span
    font-size: 8pt

  em
    color: $form-border
    font-weight: bold

  input, textarea
    border: none
    border: 1px solid rgba(0,0,0,.1)
    border-radius: 2px
    background: $form-bg
    padding-left: 5px
    outline: none

  input:focus, textarea:focus
    border: 1px solid $form-focus

  textarea
    resize: none

  button
    display: block
    float: right
    line-height: $font-size * 2
    padding: 0 20px
    border: none
    background: $form-border
    color: white
    letter-spacing: 2px
    transition: .2s all ease-in-out
    border-bottom: 2px solid transparent
    outline: none

    &:hover
      background: inherit
      color: $form-border
      border-bottom: 2px solid $form-border

  ::selection
    background: rgb(255, 199, 184)

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus
    border: 1px solid $form-focus
    -webkit-text-fill-color: $font-color
    -webkit-box-shadow: 0 0 0px 1000px $form-bg inset
    transition: background-color 5000s ease-in-out 0s



  </style>



</head>

<body onload="startTime()">

<header class="header">
  <div class="logo-wrapper">
    <a href="{% url 'home'  %}" class="logo">
      <img src="{% static 'frontend/assets/images/resources/logo6.png'%}" alt="Wafi Admin Dashboard" />
    </a>
  </div>
  <div class="header-items">
    <!-- Custom search start -->
    <div class="custom-search">
      <input type="text" class="search-query" placeholder="Search here ...">
      <i class="icon-search1"></i>
    </div>
    <!-- Custom search end -->

    <!-- Header actions start -->
    <ul class="header-actions">
      <li class="dropdown">
        <a href="#" id="notifications" data-toggle="dropdown" aria-haspopup="true">
          <i class="icon-bell"></i>
        </a>
      </li>
      <li class="dropdown">
        <a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
          <span class="user-name">{{ user.username }}</span>
          <span class="avatar"><img src="{% static 'backend/img/default.jpg'%}"/></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userSettings">
          <div class="header-profile-actions">
            <div class="header-user-profile">

              <h5>{{ user.username }}</h5>
              <!-- <p>Admin</p> -->
            </div>
            <a href="{% url 'viewuserprofile'  %}"><i class="icon-user1"></i> My Profile</a>
            <a href="{% url 'viewuserprofile'  %}"><i class="icon-settings1"></i> Account Settings</a>
            <!-- <a href="{% url 'logout' %}"><i class="icon-log-out1"></i> Sign Out</a> -->
            <a href="JavaScript:{document.getElementById('logout').submit()}"><i class="icon-log-out1"></i> Sign Out</a>
          </div>
        </div>
      </li>
    </ul>
    <!-- Header actions end -->
  </div>
</header>
  <body>

    <!-- *************
    ************ Header section start *************
    ************* -->

    <!-- Header start -->

  <!-- *************
  ************ Header section start *************
  ************* -->

  <!-- Header start -->

  <!-- Header end -->


  <!-- Navigation start -->
  <nav class="navbar navbar-expand-lg custom-navbar">
    <div class="collapse navbar-collapse" id="WafiAdminNavbar">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link" href="{% url 'index' %}">
            <i class="icon-devices_other nav-icon"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link  active-page dropdown-toggle" href="#" id="appsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-package nav-icon"></i>
            Harvest Management
          </a>
          <ul class="dropdown-menu" aria-labelledby="appsDropdown">
            <li>
              <a class="sub-nav-link dropdown-toggle" href="chat.html">Price Predictions</a>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="buttonsDropdown">
								<li>
									<a class="dropdown-item" href="{% url 'carrotpricepredict' %}">Carrot Price Prediction</a>
								</li>
								<li>
									<a class="dropdown-item" href="{% url 'potatopricepredict' %}">Potato Price Prediction</a>
								</li>
							</ul>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'forecast' %}">Weather Forecast</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-edit1 nav-icon"></i>
            Resources
          </a>
          <ul class="dropdown-menu" aria-labelledby="appsDropdown">
            <li>
              <a class="sub-nav-link dropdown-toggle" href="#">Workers</a>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="buttonsDropdown">
								<li>
									<a class="dropdown-item" href="{% url 'addworkers' %}">Add Employees</a>
								</li>
								<li>
									<a class="dropdown-item" href="{% url 'employeedetails' %}">View Employees</a>
								</li>
							</ul>
            </li>
            <li>
              <a class="sub-nav-link dropdown-toggle" href="#">Machinery</a>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="buttonsDropdown">
								<li>
									<a class="dropdown-item" href="{% url 'addmachines' %}">Add Machinery</a>
								</li>
								<li>
									<a class="dropdown-item" href="{% url 'machinedetails' %}">View Machinery</a>
								</li>
							</ul>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="formsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-dollar-sign nav-icon"></i>
            Finance
          </a>
          <ul class="dropdown-menu" aria-labelledby="appsDropdown">
            <li>
              <a class="sub-nav-link dropdown-toggle" href="#">Sales</a>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="buttonsDropdown">
								<li>
									<a class="dropdown-item" href="{% url 'addsale' %}">Add Sales</a>
								</li>
								<li>
									<a class="dropdown-item" href="{% url 'viewsales' %}">View Sales</a>
								</li>
							</ul>
            </li>
            <li>
              <a class="sub-nav-link dropdown-toggle" href="#">Expenses</a>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="buttonsDropdown">
								<li>
									<a class="dropdown-item" href="{% url 'addexpense' %}">Add Expenses</a>
								</li>
								<li>
									<a class="dropdown-item" href="{% url 'viewexpenses' %}">View Expenses</a>
								</li>
							</ul>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="uiElementsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-image nav-icon"></i>
            Fields
          </a>
          <ul class="dropdown-menu" aria-labelledby="appsDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'addfields' %}">Add Fields</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'viewfields' %}">Manage Fields</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="tablesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-border_all nav-icon"></i>
            Activities
          </a>
          <ul class="dropdown-menu" aria-labelledby="appsDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'currenttodo' %}">View Activities</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'createtodo' %}">Create Activities</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="layoutsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-truck nav-icon"></i>
            Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="appsDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'product' %}">View Products</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'addproduct' %}">Add products</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="layoutsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-book-open nav-icon"></i>
            Blogs
          </a>
          <ul class="dropdown-menu" aria-labelledby="appsDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'bloghome' %}">View Blogs</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'blogadd' %}">Add Blogs</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
<!-- Navigation end -->


<!-- *************
************ Main container start *************
************* -->
<div class="main-container">
  <!-- Page header start -->
  <div class="page-header">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">weather</li>
      <li class="breadcrumb-item active">Weather Forecast</li>
    </ol>

    <ul class="app-actions">
      <li>
        <a href="#" id="reportrange">
          <span class="range-text"></span>
          <i class="icon-chevron-down"></i>
        </a>
      </li>
      <li>
        <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print">
          <i class="icon-print"></i>
        </a>
      </li>
      <li>
        <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download CSV">
          <i class="icon-cloud_download"></i>
        </a>
      </li>
    </ul>
  </div>
  <!-- Page header end -->


  <!-- Content wrapper start -->
  <div class="content-wrapper">

    <div class="d-flex justify-content-center">
        <form method="POST">

            {% csrf_token %}

            <div class="form-group ">

                <input type="float" name="lat" id="lat" placeholder="Latitude" required ="" >


            </div>

            <div class="align-self-center">

                <input type="float" name="lon"  id="lng" placeholder="longitude" required ="" >


            </div>

            </br>

            <div>
                <button type="submit" class="btn btn-success button">weather check</button>

            </div>

        </br>



        </form>
   </div>

    <!-- Container -->
    <div class="content-wrapper">
      <div id="map"></div>

      <!-- Current-Weather-Widget -->
      <div class="weather-widget agileits w3layouts">
        <div class="place agileits w3layouts">

          <div class="city agileits-w3layouts agileits w3layouts">
            <p>{{weather.name}}</p>
          </div>

          <div class="dmy agileits w3-agile w3layouts">
            <script type="text/javascript">
              var mydate=new Date()
              var year=mydate.getYear()
              if(year<1000)
              year+=1900
              var day=mydate.getDay()
              var month=mydate.getMonth()
              var daym=mydate.getDate()
              if(daym<10)
              daym="0"+daym
              var dayarray=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
              var montharray=new Array("January","February","March","April","May","June","July","August","September","October","November","December")
              document.write(""+dayarray[day]+", "+montharray[month]+" "+daym+", "+year+"")
            </script>
          </div>

          <div id="txt"></div>

          <div class="w3temperatureaits agileits w3-agileits">
            <div class="w3temperatureaits-grid w3-agileits wthreetemp">
              <p>{{weather.temperature|floatformat:"0"}}<span>°C</span></p>
            </div>
            <div class="w3temperatureaits-grid w3tempimg">
              <div class="city agileits-w3layouts agileits w3layouts">
                <p>{{weather.description|title }}</p>
                <img src="http://openweathermap.org/img/wn/{{weather.icon}}.png" alt="Image" width="100px">
              </div>



            </div>
            <div class="w3temperatureaits-grid w3-agile wthreestats">
              <ul>
                <li class="agiletemp agiletemppressure">Wind {{weather.wind}} km/h</li>
                <li class="agiletemp wthree agiletemphumidity w3-agile">Humidity {{weather.humidity}} %</li>
                <li class="agiletemp agileits-w3layouts agileinfo agiletempwind">FeelsLike {{weather.feelslike_weather}}°C</li>
              </ul>
            </div>
            <div class="clear"></div>
          </div>

          <div id="owl-demo" class="owl-carousel agileits text-center">
            {% for x,y in forcast_data_list.items%}
            <div class="item w3threeitem w3threeitem1">
              <h4>{{y.day}}</h4>

              <img src="http://openweathermap.org/img/wn/{{y.icon}}.png" alt="Image" width="100px">
              <h4> {{y.temperature|floatformat:"0"}}°C</h4>
              <h2> {{y.description|title}}</h2>

            </div>
            {% endfor%}

          </div>

        </div>
      </div>
        <!-- //Current-Weather-Widget -->

    </div>
      <!-- //Container -->

      <!-- Custom-JavaScript-File-Links -->

        <!-- Default-JavaScript --> <script type="text/javascript" src="{% static 'staticweather/js/jquery-3.1.1.js' %}"></script>

        <!-- Time-JavaScript -->
          <script>
            function startTime() {
              var today = new Date();
              var h = today.getHours();
              var m = today.getMinutes();
              var s = today.getSeconds();
              m = checkTime(m);
              s = checkTime(s);
              document.getElementById('txt').innerHTML = h + ":" + m + ":" + s;
              var t = setTimeout(startTime, 500);
            }
            function checkTime(i) {
              if (i < 10) {i = "0" + i};
              return i;
            }
          </script>
        <!-- //Time-JavaScript -->

        <!-- Weather-Widget-JavaScript -->
          <script src="staticweather/js/skycons.js"></script>
        <script>
          var icons = new Skycons({"color": "#FFFFFF"}),
          list  = [
            "clear-day"
          ],
          i;
          for(i = list.length; i--; )
          icons.set(list[i], list[i]);
          icons.play();
        </script>
        <script>
          var icons = new Skycons({"color": "#FFFFFF"}),
          list = [
            "clear-night", "partly-cloudy-day",	"partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind", "fog"
          ],
          i;
          for(i = list.length; i--; )
          icons.set(list[i], list[i]);
          icons.play();
        </script>
      <!--//Weather-Widget-JavaScript -->

      <!-- Owl-Carousel-JavaScript -->
        <script src="{% static 'staticweather/js/owl.carousel.js' %}"></script>
        <script>
          $(document).ready (function() {
            $("#owl-demo").owlCarousel({
              autoPlay: 3000,
              items : 3,
              itemsDesktop : [1024,4],
              itemsDesktopSmall : [640,3]
            });
          });
        </script>
        <!-- Google maps -->
  <style type="text/css">
    #map{
        width:800px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
     }


  </style>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

  <script>
            //Set up some of our variables.
        var map; //Will contain map object.
        var marker = false; ////Has the user plotted their location marker?

        //Function called to initialize / create the map.
        //This is called when the page has loaded.
        function initMap() {

        //The center location of our map.
        var centerOfMap = new google.maps.LatLng(7.161760600000001, 80.12462289999999);

        //Map options.
        var options = {
        center: centerOfMap, //Set center.
        zoom: 7 //The zoom value.
        };

        //Create the map object.
        map = new google.maps.Map(document.getElementById('map'), options);

        //Listen for any clicks on the map.
        google.maps.event.addListener(map, 'click', function(event) {
        //Get the location that the user clicked.
        var clickedLocation = event.latLng;
        //If the marker hasn't been added.
        if(marker === false){
            //Create the marker.
            marker = new google.maps.Marker({
                position: clickedLocation,
                map: map,
                draggable: true //make it draggable
            });
            //Listen for drag events!
            google.maps.event.addListener(marker, 'dragend', function(event){
                markerLocation();
            });
        } else{
            //Marker has already been added, so just change its location.
            marker.setPosition(clickedLocation);
        }
        //Get the marker's location.
        markerLocation();
        });
        }

        //This function will get the marker's current location and then add the lat/long
        //values to our textfields so that we can save the location.
        function markerLocation(){
        //Get location.
        var currentLocation = marker.getPosition();
        //Add lat and lng values to a field that we can save.
        document.getElementById('lat').value = currentLocation.lat(); //latitude
        document.getElementById('lng').value = currentLocation.lng(); //longitude
        }


        //Load the map when the page has finished loading.
        google.maps.event.addDomListener(window, 'load', initMap);
  </script>
      <!-- //Owl-Carousel-JavaScript -->

    <!-- //Custom-JavaScript-File-Links -->





  </div>
  <!-- Content wrapper end -->


</div>
<!-- *************
************ Main container end *************
************* -->


<!-- Footer start -->
<footer class="main-footer">© Efarm 2021</footer>
<!-- Footer end -->




<!-- *************
************ Required JavaScript Files *************
************* -->
<!-- Required jQuery first, then Bootstrap Bundle JS -->
<!-- <script src="{% static 'backend/js/jquery.min.js'%}"></script> -->
<script src="{% static 'backend/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'backend/js/moment.js'%}"></script>


<!-- *************
************ Vendor Js Files *************
************* -->
<!-- Slimscroll JS -->
<script src="{% static 'backend/vendor/slimscroll/slimscroll.min.js'%}"></script>
<script src="{% static 'backend/vendor/slimscroll/custom-scrollbar.js'%}"></script>

<!-- Daterange -->
<script src="{% static 'backend/vendor/daterange/daterange.js'%}"></script>
<script src="{% static 'backend/vendor/daterange/custom-daterange.js'%}"></script>

<!-- Main Js Required -->
<script src="{% static 'backend/js/main.js'%}"></script>

</body>
</html>
